:root{
    --color-background: #222831;
    --color-primary:#393e46;
    --color-secundary:#29a19c;
    --color-sec-light:#a3f7bf;
    

}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    align-items: center;
    outline: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
}


header{
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: var(--color-primary);
}
header img{
    height: 50px;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
main{
    display: flex;
    flex-direction: column;
    margin: 15vh auto;
    /* border: 1px solid black; */
    height: 70vh;
    align-items: center;
    justify-content: center;
}
form *{
    transition: 200ms;
}

form{
    background-color: var(--color-primary);
    padding: 25px;
    padding-top: 10px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: column;
    width: 40vw;
    border: 2px solid var(--color-sec-light);

    border-bottom: 0px solid var(--color-sec-light);
}

form img{
    width: 10vw;
}
form input,input[type='submit']{
    padding: 8px;
    width: 30vw;
    margin-bottom:8px ;
    border-radius: 8px;
    transition: 200ms;
}
form input[type='submit']{
    margin-top: 10px;
    font-weight: bold;
    background-color: var(--color-secundary);
}
form input[type='button']{
    margin-top: 10px;
    font-weight: bold;
    background-color: red;
}
input:hover, button:hover{
    border: 2px solid black;
    font-weight: bold;

}
input:focus{
    /* padding: 6px; */
    border: 2px solid var(--color-secundary);
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;

}
button:active{
    background-color: var(--color-secundary);
    border: 2px solid var(--color-sec-light);
    opacity: 80%;
    color: white;
    border-radius: 20px;


}

.selection{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 60vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}

.option{
    padding: 12px;
    /* background-color: var(--color-background); */
    width: 20vw;
    text-align: center;
    
    border: 1px solid black;
    border-top: 2px solid var(--color-sec-light);
    font-weight: bold;
}
.option:hover{
    opacity: 70%;

}
.option:active{
    color: var(--color-secundary);
}

.left{
    border-radius: 0px 0px 0px 8px;

}
.right{
    border-radius: 0px 0px 8px 0px;

}



.active{
    background-color: var(--color-primary);
    border: 2px solid var(--color-sec-light);
    border-top: 1px solid black;
    color: white;
    font-weight: bold;

}


.hide{
    display: none;
    transform: scale(0);
    opacity: 0;
}
.bg{
    /* display: flex; */
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000AA;
}
.popup-bg{
    display: flex;
    position: fixed;
    z-index: 4;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: 200ms;
    /* background-color: #000000AA; */
    
}

.popup{
    display: flex;
    z-index: 5;
    margin: auto;
    flex-direction: column;
    padding: 20px;
    width: 30vw;
    height: 35vh;
    background-color: var(--color-primary);
    border: 2px solid var(--color-sec-light);
    border-radius: 8px;
    transition: 200ms;
}
.popup span{
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.popup img{
    width: 10vw;
    height: 10vw;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: scale(10vw,5vw);
  }
  .popup button{
      width: 40px;
  }
  
  @keyframes example {
    0%  {top:0px;}
    25% {top:-20px; }
    50% {top:0px;}
    75% {top:20px;}
    100%{top:0px; }
    
  }



  /* ///////////////////// */

header .userArea{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header span{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
header #userImg{
    width: 40px;
    height: 40px;
}
h1{
    display: flex;
    margin: auto;
    margin-top: 15vh;
    color: white;
}
.allUsers{
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 30px;
    width: 70vw;
    height: 60vh;
    background-color: var(--color-primary);
    border-radius: 12px;
    border: 2px solid var(--color-secundary);
}

.user{
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    box-shadow: 1px 2px 5px black;
    padding: 10px;
    border-radius: 8px;
    width: 14vw;
}

.user h3{
    color:white;
    margin-bottom: 5px;
}
.user span{
    position: relative;
    left: 25%;
    color: gray;
}

.user:hover{
    padding: 8px;
    border: 2px solid var(--color-sec-light);
}